<div style='background-color:white;color:black;'>

  <h1>Crea Bodega</h1>

  <form action="/Bodega/crearBodegaForm" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input minlength=5 required type="text" class="form-control"  placeholder="nombre" name="nombre">
    </div>

    <div class="form-group">
      <label>Direccion</label>
      <input minlength=5 required type="text" class="form-control"  placeholder="direccion" name="direccion">
    </div>

    <div class="form-group">
      <label>Capacidad (Toneladas)</label>
      <input minlength=5 required type="number" class="form-control"  placeholder="capacidad" name="capacidad">
    </div>

    <button type="submit" class="btn btn-success">Crear Bodega</button>
    <br>

  </form>
</div>
