<div style='background-color:white;color:black;'>

  <h1>Crea Item</h1>

  <form action="/Item/crearItemForm" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input minlength=5 required type="text" class="form-control"  placeholder="nombre" name="nombre">
    </div>

    <div class="form-group">
      <label>Cantidad</label>
      <input minlength=5 required type="number" class="form-control"  placeholder="cantidad" name="cantidad">
    </div>

    <div class="form-group">
      <label>Peso</label>
      <input minlength=5 required type="number" class="form-control"  placeholder="peso" name="peso">
    </div>

    <div class="form-group">
      <label>Bodega</label>
      <input minlength=5 required type="text" class="form-control"  placeholder="bodega" name="bodega">
    </div>

    <button type="submit" class="btn btn-success">Crear Item</button>
    <br>

  </form>
</div>
